

p{
  margin:0;
  padding:0;
  font-weight: 700;
}
h2{
  width: 100%;
  float: left;
  height: auto;
  transform: inherit;
  font-size: 30px;
  padding: 0px;
  margin: 0;
  writing-mode: lr-tb;
  position: inherit;
  text-align: left;
  left: initial;
  top: initial;
  right: inherit;
  bottom: inherit;
  color:#fff;
}
body{
  margin:0;
  padding:0;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  box-sizing: border-box;
}
/* 前面没有.或者 #的都是全局标签样式 */
.header_top{
    width: 100%;
    float: left;
    height: 50px;
    background: #034c91
}
.container{
width:100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  display:flex;  /*  弹性布局 */
  justify-content: space-between;
  flex-flow: row wrap;
}
.header_left{
  width: 41.66666667%;
  height: 50px;
}
a{
  /* 消除a标签字的下划线 */
  text-decoration: none;  
  padding-left:40px;
  font-style:normal;
  color:black;
}
.fa{
  padding-top:10px;
  display: inline-block;
    font-style: normal;
    font-size: 16px;
    text-rendering: auto;
    color:#FFF;
}
/* ======================== */
.header_right{
  width: 58.33333333%;
  height: 50px;
}
ul.tubiao{
  float:right;
}
ul{
  list-style: none;
    margin: 0px;
    padding: 0px;
}
li{
  float:left;
  padding:13px 12px 12px 12px;
}
.tracking{
  float:right;
  width:111px;
  height:50px;
  padding-left:40px;
  padding-top:10px;
}
.itemTracking{
  padding-left:0;
  color:#fff;
  font-size:15px;
  font-weight: 400;
}
.language{
  float:right;
  width:160px;
  height: 50px;
  background:#fefffa;
  display:flex;
  justify-content: start;
  align-items: center;
}
.itemImg{
  padding-left:15px;
  width:38px;
  height: 38px;
}
.zhongwen{
  padding-left:20px;
  font-size:16px;
}

/* ====================================== */
.meun{
  width: 100%;
    float: left;
    height: 100px;
}
.container1{
  width:100%;
  height: 160px;
   margin:0;
    padding-left: 15px;
    padding-right: 15px;
    display:flex;  /*  弹性布局 */
    justify-content: space-between;
    flex-flow: row wrap;
  }
.logo{
  width:160px;
  height: 100px;
  float: left;

}
.itemLogo{
  padding-top:20px;
}
.many{
  height: 100px;
  float:right;
}
.table{
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.itemTable{
  font-size:16px;
  font-weight: 600;
  color:black;
}
.btn{
 padding-top:26px;
  float:right;
  width:80px;
  height: 50px;;
  text-align: center;
}
.itemBtn{
  width:50px;
  height: 50px;
}

/* ==================区域一样式==================== */
.imgBox{
  width:100%;
  height: 650px;
 /* background-color:red; */
  /* padding-top:143px;  */
  /* position: relative; */
  overflow: hidden;
background-image: url(../img/timg.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgBox_2{
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
}

.samll_heading{
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 3px;
    background-color: #000;
    padding: 5px 15px;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    width: auto;
}
.heading_mid{
  width:400px;
  margin-top: 35px;
  margin-bottom: 35px;
  font-size: 46px;
  text-transform: uppercase;
  text-shadow: 0 4px 4px rgba(0,0,0,.2);
  font-weight: bold;
  line-height: 55px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.box{
  color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    border-color: rgba(255,255,255,.2);
    background-color: #82b927;
    border-radius: 40px;
    font-size: 16px;
    text-transform: capitalize;
    padding: 12px 34px;
    
}

/* ================区域2 样式==================== */
.container3{
  width:100%;
  height: 300px;
    display:flex;  /*  弹性布局 */
    justify-content: space-between;
    flex-flow: row wrap;
  }
.imgBox2{
  width: 100%;
  height: 700px;
    float: left;
    padding: 0px 0px 100px 0px;
    background: #034c91 url(icon/service-bg.png) left top no-repeat;
    position: relative;
    background-size: cover;
}
.imgBox2Item{
  width: 100%;
  height: 320px;
  float: left;
  top: -60px;
  z-index: 2;
  overflow: hidden;
  display:flex;
  justify-content: center;
}
.imgBox2img{
  width:30%;
  height: 100%;
}
.imgBox2ItemPage{
  width: 40%;
    height: 100%;
    padding: 20px 30px;
    position: inherit;
    left: inherit;
    right: inherit;
    top: inherit;
    bottom: inherit;
    background-color: #82b927;;
}
.pageBox{
  width: 100%;
  float: left;
  padding-top: 8px;
  margin: 0px;
  text-align: left;
}
.common-btn {
  display: inline-block;
  padding: 13px 40px;
  border: solid 1px #fff;
  border-radius: 50px;
  color: #fff;
  font-weight: 500;
  transition: all 0.5s ease;
  margin-top:25px;
}
/* =============区域3 样式=================== */
.imgBox3{
  width: 100%;
  float: left;
  padding: 50px 0px 0px 0px;
}
.pageHeader{
  width: 100%;
    float: left;
    padding-bottom: 60px;
    text-align: center;
    color: #fff;
    text-align: center;
}
.ourservice-main {
  width: 100%;

  display: flex;
  justify-content: space-around;
}
.mainBox{
  width: 24%;
  height: 240px;
  text-align: center;
  background: #005cb2;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  padding-top:15px;
}
.ourservice-icon {
  width: 100%;
  float: left;
}
.boxB{
  width: 80px;
  height: 80px;
  display: inline-block;
  margin: auto;
  border-radius: 100px;
  border: solid 1px #fff;
  line-height: 75px;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.phone_head{
  display: none;
}
.anniu{
  display: none;
}
/* 头部 */
@media (max-device-width: 430px){
  a{
    padding-left: 5px;
  }
  .pc_head{
    display: none;
  }
  .phone_head{
    display: block;
    width:40%;
  }

 .container{
   padding:0;
   margin:0;
   width: 100%;
   display: flex;
   justify-content: space-between;
 }
 /* 隐藏头部右边部分 */
 .language{
   display: none;
 }
 .tracking{
   display: none;
 }
 .header_right{
  display: flex;
  justify-content: flex-end;
  align-items: center;
 }
 .anniu{
   display: block;
   font-size:20px;
   font-weight: 800;
 }
 .anniu1{
   padding-right: 15px;
 }
 .tubiao{
   display: none;
 }

}

@media (max-device-width: 430px){
  .many{
    display: none;
  }
  p{
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
  }
}